@tailwind base;
@tailwind components;
@tailwind utilities;

#name {
  background-image: url("/img/name.png");
}

#phone {
  background-image: url("/img/phone.png");
}

#email {
  background-image: url("/img/email.png");
}

#company {
  background-image: url("/img/office.png");
}
